//EXTEND
%estiloBoton {
    background: $azul;
    color: $blanco;
}

%estiloFooter {
    position: absolute;
    bottom: 0;
}

%estilosTextoBg {
    font-size: 38px;
    font-weight: 700;
    color: $blanco;
    margin-top: 10px;
}

%estilosDescripcion {
    color: $blanco;
    text-align: justify;
}


%estilosTitulos {
    font-size: 24px;
    font-weight: 700;
    border-bottom: 3px solid $azul;
    width: 70px;
}