@mixin estilosBg ($bg, $margin) {
    background-image: $bg;
    background-size: cover;
    background-color: #2525254d;
    background-blend-mode: soft-light;
    background-position: center;
    margin-top: $margin;
}

@mixin estilosCategorias ($bg) {
    background-image: $bg;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: $overlay;
    background-position: center;
    height: 200px;
}


@mixin estiloFooter () {
    position: absolute;
    bottom: 0;
}