.nosotros-principal {
    width: 100%;
    @include estilosBg (url(../img/nosotros.jpg), 80px);

    &__titulo {
        &--bold {
            @extend %estilosTextoBg;
        }

        &--light {
            text-decoration: underline;
            font-weight: 200;
            color: $blanco;
        }
    }

    &__descripcion {
        &--bold {
            @extend %estilosDescripcion;
        }

        &--light {  
            @extend %estilosDescripcion;
            font-weight: 200;
            margin-top: -10px;
        }
    }

    &__btn {
        @extend %estiloBoton;
        font-size: 20px;
        margin-bottom: 30px;

        &:hover {
            background: $color-hover-btn;
        }
    }
}

.contenedor-redes {
    margin-top: 10px;

    &__text {
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__btn {
        @extend %estiloBoton;
        padding: 0 0.4rem;
        border-radius: 0.25rem;
        margin: 10px;
        font-size: 2.5rem;

        &:hover {
            background: $color-hover-btn;
        }
    }
}

.siguenos__img {
    width: 100%;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .siguenos__row {
        align-items: center;
    }
}